
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Gloria+Hallelujah|Gochi+Hand|Lemon');

body> div{
 	margin: 0;
}


/*#btn, #btn2{
	outline: none;
	background-color: transparent;
	border: 0;
	font-size: 3em;
	 -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
	margin: 0 auto;

}*/

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: 0px;
    border-color: transparent;
}

.landing_text{
  z-index: 1;
}



.navbar-inverse .navbar-nav>.active>a {
    /*border-radius: 15%;*/
    color: #fff;
    background-color:transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: transparent;
}

/*
#btn:hover{
	background-color: rgba(62, 62, 62, 0.7);
}*/
.navbar-inverse .navbar-toggle {
    border :0px;
    font-family: 'Fredoka One', cursive;
}

.navbar-inverse{
	background-color: transparent;
	border: 0px;
	font-family: 'Fredoka One', cursive;
	letter-spacing: 1px;
}

li .active{
  background: red;
}
.navbar-inverse .navbar-nav>li>a {
    color: #E6ECBC;
    text-shadow:
        0px 3px 2px rgba(0,0,0,0.4);
    letter-spacing: 1px;
}

.navbar-inverse .navbar-brand {
    color: #E6ECBC;
    text-shadow:
        0px 3px 2px rgba(0,0,0,0.4);
}

#lpage{
	text-align: center;
	padding-top: 18%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	  background-color: #000;
	display: flex;
	height: 100vh;
	width: 100%;



}

 #lpage h1 {
	font-family: 'Lemon', cursive;
	color: rgba(230, 236, 188, 0.8);
	animation:fadeIn ease-in 3s;

	 text-shadow:
        0px 4px 3px rgba(0,0,0,0.4),
		0px 8px 13px rgba(0,0,0,0.1),
		0px 18px 23px rgba(0,0,0,0.1);
    z-index: 1;

}







#lpage button{
  color: #515151;
  opacity: 0.7;
  margin: 0 auto;
  background: transparent;
  border: none;
  outline: none;

}
.landing_text{
  align-self: center;
}

.fa-chevron-down{
  font-size: 4em;
}

.slideshow {
  position: fixed;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

 .slideshow li {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(img/jumbotron_cover_1.jpg)
}
.slideshow li:nth-child(2) {
  background-image: url(img/simon_game.png);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(img/tic_tac_toe_game.png);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(img/random_quote_machine.png);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(img/calculator_app.png);
  animation-delay: 40s;
}


@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}


/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
#about{
	background-color: #DCE67F;
	justify-content: space-between;
}

 #acenter{
	margin: auto;
	align-self: center;
	display: flex;

}

.aboutInfo{
	width: 30%;
	margin: 0 10%;
	font-family: 'Gochi Hand', cursive;
}

.aboutInfo img{
	margin: 0 auto;
	width: 70%;
}
.aboutInfo:nth-of-type(1){
	font-size: 3em;
	text-shadow:
    	0px 3px 2px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	height: inherit;
}

#my_projects{
	background-color: #7FE3E6;

}


#my_projects .row{
	align-self: center;
	margin: auto;
}


.col-lg-4 {

	margin-bottom:  3%;

}

#my_certificates{
	background-color: #E67FDF;
	margin: auto;
}

#my_certificates img{
	align-self: center;
	margin: auto;
 }

#my_skills{
	background-color: #E6A17F;
	flex-direction: column;
	justify-content: flex-start;
}
#my_skills .row{
  display: flex;
  flex-wrap: wrap;
	align-self: center;
	width: 100%;
	margin: auto;
}
#my_skills .col-lg-3{
display: flex;
flex-flow: column;
  text-align: center;
  text-shadow:
      0px 4px 3px rgba(0,0,0,0.4),
  		0px 8px 13px rgba(0,0,0,0.1);
margin: 0 auto;
}



#my_skills p{
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
  text-align: center;
  margin-top: -4%;
}
.bigicons{
  font-size: 12em;
  padding: 0 auto;
  margin: 0 auto;
}
.special{
  padding-left: 7%;
}
#contact{
	background-color: #B6E67F;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#contact div:nth-of-type(1){
	margin: auto;
	width: 100%;
}

#contact div:nth-of-type(2){
	margin: 0 auto;
}

#contact > div p{
	width: 80%;
	margin: 0 auto;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 2em;
	color: #262D4D;
	text-shadow:
    	0px 3px 2px rgba(38,45,77,0.3);
}
#contact > div:last-of-type p{
  text-align: center;
	font-size: 1em;
	width: 100%;
	margin-bottom: 2%;

}

#icon i{
	padding-left: 2%;
}

hr{
	margin-top: 0;
	width: 80%;
	color: black;
	background-color: black;
	height: inherit;
	box-shadow: 0px 3px 2px rgba(38,45,77,0.3);
}
a{
	color: inherit;
}
h1:nth-of-type(1){
	text-align: center;
	font-size: 5em;
}

h1:nth-of-type(2){
	text-align: center;
	font-size: 3em;


}

h1{
	font-family: 'Fredoka One', cursive;
	text-shadow:
    	0px 4px 3px rgba(0,0,0,0.4),
		0px 8px 13px rgba(0,0,0,0.1);

}
h3{
	text-align: center;
	font-size: 2em;
	font-family: 'Fredoka One', cursive;
	text-shadow:
    	0px 3px 2px rgba(0,0,0,0.3);

}
img{
	width: 75%;
	margin: 0 auto;
	box-shadow:
		0px 4px 3px rgba(0,0,0,0.4),
		0px 8px 13px rgba(0,0,0,0.1),
		0px 18px 23px rgba(0,0,0,0.1);
}


#cert{
	width: 45%;
	margin: 5% auto;
}


.screen{
	position: relative;
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
  	height: 100%;
  	justify-content: space-between;
}


#toTop {
	cursor:pointer;
	display:none;
	color: #515151;
	font-size: 40px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	height: 32px;
	width: 40px;
	position: fixed;
	bottom: 18px;
	left: 18px;
	z-index: 9999;

	opacity: 0.7;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
	    filter: alpha(opacity=50);
}
