
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Gochi+Hand|Lemon');

body{
 

}


#btn, #btn2{
	outline: none;
	background-color: transparent;
	border: 0;
	font-size: 3em;
	 -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
	margin: 0 auto;   
	
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: 0px;
    border-color: transparent;
}


#btn:hover{
	background-color: rgba(62, 62, 62, 0.7);
}
.navbar-inverse .navbar-toggle {
    border :0px;
    font-family: 'Fredoka One', cursive;
}

.navbar-inverse{
	background-color: transparent;
	border: 0px;
	font-family: 'Fredoka One', cursive;
	letter-spacing: 1px;
}


.navbar-inverse .navbar-nav>li>a {
    color: #E6ECBC;
    text-shadow:
        0px 3px 2px rgba(0,0,0,0.4);
    letter-spacing: 1px;
}

.navbar-inverse .navbar-brand {
    color: #E6ECBC;
    text-shadow:
        0px 3px 2px rgba(0,0,0,0.4);
}



 #lpage h1 {
	font-family: 'Lemon', cursive;
	color: #86E67F;
	animation:fadeIn ease-in 3s; 
	 text-shadow:
        0px 4px 3px rgba(0,0,0,0.4),
		0px 8px 13px rgba(0,0,0,0.1),
		0px 18px 23px rgba(0,0,0,0.1);


}
#about{
	background-color: #DCE67F;
	justify-content: space-between;
}

 #acenter{
	margin: auto;
	align-self: center;
	display: flex;

}

.aboutInfo{
	width: 30%;
	margin: 0 10%;
	font-family: 'Gochi Hand', cursive;
}

.aboutInfo img{
	margin: 0 auto;
	width: 70%;
}
.aboutInfo:nth-of-type(1){
	font-size: 3em;
	text-shadow:
    	0px 3px 2px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	height: inherit;
}

#my_projects{
	background-color: #7FE3E6;
}

#my_certificates{
	background-color: #E67FDF;
	display: block;
}

#my_skills{
	background-color: #E6A17F;
}
h1:nth-of-type(1){
	text-align: center;
	font-size: 5em;



}

h1:nth-of-type(2){
	text-align: center;
	font-size: 3em;


}

h1{
	font-family: 'Fredoka One', cursive;
	text-shadow:
    	0px 4px 3px rgba(0,0,0,0.4),
		0px 8px 13px rgba(0,0,0,0.1);
	
}
h3{
	text-align: center;
	font-size: 2em;
	font-family: 'Fredoka One', cursive;
	text-shadow:
    	0px 3px 2px rgba(0,0,0,0.3);

}
img{
	width: 75%;
	margin: 0 auto;
	box-shadow: 
		0px 4px 3px rgba(0,0,0,0.4),
		0px 8px 13px rgba(0,0,0,0.1),
		0px 18px 23px rgba(0,0,0,0.1);
}

.svg{
	width: 256px;
	box-shadow:none;
	margin: 0 auto;
}

#cert{
	width: 45%;
	margin: 5% auto;
}

#lpage{
	text-align: center;
	padding-top: 18%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-image: url(img/jumbotron_cover.jpg);
	display: flex;
	height: 100vh;
  	flex-direction: column;
  	justify-content: space-between;

}
.screen{
	padding-top: 5%;
	position: relative;
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
  	height: 100%;
  	justify-content: space-between;

}


#my_projects .row{
	margin: 0 auto;
}
 
.col-lg-6{
	margin: 0 auto;

} 
.col-lg-4 div{
	width: 25%;
	height: 100px;
	margin:  auto;

}
